.body_background
{
	background-image: url("my_image.jpg");
	
	text-align: center;
	
}

	.div1 
	{
		background: rgb(255, 179, 38);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

   .div2{
	   background-color: rgb(255, 179, 38);
	   padding: 10px;
		float: none;
		border-radius: 15px;
   }

#player_input , #player_input2
{
	display: inline-block;
	margin-left: 20px;
}